.header {
    background-color: #1B1B1B;
    @apply container mx-auto mt-8 py-8 px-16 rounded-3xl;
}

.navigation {
    @apply w-full text-center text-white font-bold text-xl;
}

.navigation a {
    @apply mx-4 transition-all;
}

.navigation a:hover, .navigation a:focus {
    color: #17C968;
    @apply transition-all;
}

.nav-icon {
    @apply opacity-50 float-right text-xl w-6 mx-2 transition-all;
}

.nav-icon:hover, .nav-icon:focus {
    @apply opacity-100 transition-all;
}

.dark-text {
    color: #1B1B1B;
}

.radial-bg-btn {
    background: rgb(23,201,104);
    background: -moz-radial-gradient(circle, rgba(23,201,104,1) 0%, rgba(25,158,86,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(23,201,104,1) 0%, rgba(25,158,86,1) 100%);
    background: radial-gradient(circle, rgba(23,201,104,1) 0%, rgba(25,158,86,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#17c968",endColorstr="#199e56",GradientType=1);
}